# version: "3.9"
services:
  web:
    build: .
    container_name: django_app
    restart: always
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000  
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
volumes:
  postgres_data:
  static_volume:
  media_volume: