version: '3'

services:
  web:
    build: .
    container_name: django_app
    entrypoint: /app/docker/entrypoint.sh
    volumes:
      - .:/app
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    expose:
      - "8000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/vol/web/static
      - media_volume:/vol/web/media
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
  postgres_data:
