@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent_clr: #158dd8;
  --accent_lte: #79cbff;
  --accent_lte2: #dff3ff;
  --accent_trp: color-mix(in srgb, var(--accent_clr), #0000 80%);
  --accent_trp2: color-mix(in srgb, var(--accent_clr), #0000 90%);
  --green: #00d246;
  --yellow: #e4be00;

  --numeric: "IBM Plex Mono", monospace;
  --padding: 60px;
  --elasetic: linear(
    0,
    0.008 1.1%,
    0.034 2.3%,
    0.134 4.9%,
    0.264 7.3%,
    0.683 14.3%,
    0.797 16.5%,
    0.89 18.6%,
    0.967 20.7%,
    1.027 22.8%,
    1.073 25%,
    1.104 27.3%,
    1.123 30.6%,
    1.119 34.3%,
    1.018 49.5%,
    0.988 58.6%,
    0.985 65.2%,
    1 84.5%,
    1
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all ease;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

::before,
::after {
  transition: 0.4s all ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: var(--accent_clr);
  opacity: 1;
}

button {
  display: flex;
  background: var(--accent_clr);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: var(--accent_lte);
  }
}

button a:hover {
  color: #fff;
}

button:not(:has(a)) {
  padding: 8px 25px;
}

input {
  outline: none;
  border: 1px solid #fff4;
  padding-left: 8px;
  border-radius: 10px;
  background: #fff9;
}

img {
  user-select: none;
}

button:has(a) {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
}

button a {
  width: 100%;
  padding: 10px 35px;
}

/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */

.banner {
  width: 100%;
  height: 50vh;
  position: relative;
  isolation: isolate;
  overflow: clip;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 20px #0001;
  display: grid;
  place-content: center;
  text-align: center;
}

.banner img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  filter: brightness(0.7);
}

.banner h1 {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.banner p {
  opacity: 0.7;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.reasonContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--padding);
}

.reasonContainer > img {
  width: 35vw;
  aspect-ratio: 1;
  object-fit: contain;
}

.reasonInfo {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reasonInfo > h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.reasonCard{
  width: 100%;
  height: 80px;
  border-radius: 15px;
  border: 1px solid #0005;
  box-shadow: 0 0 10px #0001;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 5px;
}

.reasonIcon{
  height: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  background: var(--accent_trp2);
  display: grid;
  place-content: center;
}

.reasonIcon img{
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.reasonCard ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reasonCard ul h1{
  font-size: 1.2rem;
}

.reasonCard ul p{
  font-size: 0.9rem;
  opacity: 0.7;
}


.aboutContainer{
  display: flex;
  gap: 2rem;
  padding: 30px var(--padding);
}

.aboutInfo{
  width: 60%;
}

.aboutInfo h1{
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 20px;
}

.aboutInfo p{
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
}

.aboutStats{
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.statCard{
  width: 100%;
  text-transform: uppercase;
  text-align: left;
}