@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent_clr: #158dd8;
  --accent_lte: #79cbff;
  --accent_lte2: #dff3ff;
  --accent_trp: color-mix(in srgb, var(--accent_clr), #0000 80%);
  --accent_trp2: color-mix(in srgb, var(--accent_clr), #0000 90%);
  --green: #00d246;
  --yellow: #e4be00;

  --numeric: "IBM Plex Mono", monospace;
  --padding: 60px;
  --elasetic: linear(
    0,
    0.008 1.1%,
    0.034 2.3%,
    0.134 4.9%,
    0.264 7.3%,
    0.683 14.3%,
    0.797 16.5%,
    0.89 18.6%,
    0.967 20.7%,
    1.027 22.8%,
    1.073 25%,
    1.104 27.3%,
    1.123 30.6%,
    1.119 34.3%,
    1.018 49.5%,
    0.988 58.6%,
    0.985 65.2%,
    1 84.5%,
    1
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all ease;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

::before,
::after {
  transition: 0.4s all ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: var(--accent_clr);
  opacity: 1;
}

button {
  display: flex;
  background: var(--accent_clr);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: var(--accent_lte);
  }
}

button a:hover {
  color: #fff;
}

button:not(:has(a)) {
  padding: 8px 25px;
}

input {
  outline: none;
  border: 1px solid #fff4;
  padding-left: 8px;
  border-radius: 10px;
  background: #fff9;
}

img {
  user-select: none;
}

button:has(a) {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
}

button a {
  width: 100%;
  padding: 10px 35px;
}

/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */

.banner img {
  transform: translateY(-30%);
  filter: brightness(0.6);
}

.banner {
  text-shadow: 0 0 15px #0001;
}

.inputContainer {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 30px var(--padding);
}

.userInput {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userInput label {
  width: 100%;
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
  display: grid;
}

.userInput input {
  width: 100%;
  height: 40px;
  border: 1px solid #0005;
  margin-top: 4px;
}

.userInput textarea {
  min-height: 40px;
  max-height: 300px;
  border-radius: 8px;
  resize: vertical;
  padding: 8px;
}

.getInTouch {
  width: 50%;
  background: var(--accent_trp2);
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px #0001;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inTouchCard {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inTouchCard span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--accent_clr);
  display: grid;
  place-content: center;
}

.inTouchCard span img {
  width: 25px;
  height: 25px;
}

.getInTouch > ul {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inTouchCard h1 {
  font-size: 1.2rem;
}

.inTouchCard p {
  font-size: 0.9rem;
  opacity: 0.8;
}
