@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent_clr: #158dd8;
  --accent_lte: #79cbff;
  --accent_lte2: #dff3ff;
  --accent_trp: color-mix(in srgb, var(--accent_clr), #0000 80%);
  --accent_trp2: color-mix(in srgb, var(--accent_clr), #0000 90%);
  --green: #00d246;
  --yellow: #e4be00;

  --numeric: "IBM Plex Mono", monospace;
  --padding: 60px;
  --elasetic: linear(
    0,
    0.008 1.1%,
    0.034 2.3%,
    0.134 4.9%,
    0.264 7.3%,
    0.683 14.3%,
    0.797 16.5%,
    0.89 18.6%,
    0.967 20.7%,
    1.027 22.8%,
    1.073 25%,
    1.104 27.3%,
    1.123 30.6%,
    1.119 34.3%,
    1.018 49.5%,
    0.988 58.6%,
    0.985 65.2%,
    1 84.5%,
    1
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all ease;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

::before,
::after {
  transition: 0.4s all ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: var(--accent_clr);
  opacity: 1;
}

button {
  display: flex;
  background: var(--accent_clr);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: var(--accent_lte);
  }
}

button a:hover {
  color: #fff;
}

button:not(:has(a)) {
  padding: 8px 25px;
}

input {
  outline: none;
  border: 1px solid #fff4;
  padding-left: 8px;
  border-radius: 10px;
  background: #fff9;
}

img {
  user-select: none;
}

button:has(a) {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
}

button a {
  width: 100%;
  padding: 10px 35px;
}

/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */

.tourDetailsText > h2 {
  font-weight: 400;
  margin-bottom: -10px;
}

.featureCard {
  font-weight: 600;
}

.sellerInfo ul {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.8;
  font-size: 0.9rem;
}

.sellerInfo ul img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: grayscale(1);
}

.sellerInfo label > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.sellerInfo label > span img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.sellerInfo label {
  display: flex;
  flex-direction: column;
  border: 1px solid #0005;
  padding: 10px;
  border-radius: 10px;
}

.sellerInfo label:has(h1) {
  flex-direction: row;
  justify-content: space-between;
}

.sellerInfo label h1 {
  font-size: 1.3rem;
}

.commentContainer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  overflow: clip;
  border-radius: 20px;
  box-shadow: 0 0 20px #0001;
  border: 1px solid #0005;
}

.commentContainer.active {
  height: fit-content;
}

.commentPreview {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
}

.commentPreview:hover {
  background: var(--accent_trp2);
}

.commentPreview ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.commentPreview ul h1 {
  font-size: 1.2rem;
}

.commentPreview ul img {
  width: 27px;
  height: 27px;
  object-fit: contain;
}

.commentPreview > img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.userComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
  background: var(--accent_trp2);
  box-shadow: inset 0 0 0 8px #fff;
  border-radius: 20px;
}

.userComment > p {
  line-height: 1.4;
}

.commenterProfile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.commenterProfile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.commenterProfile > h1 {
  font-size: 1.2rem;
}

.commentRating {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--numeric);
}

.commentRating img {
  width: 20px;
  height: 20px;
}

.commentRating p {
  font-family: var(--numeric);
  font-weight: 800;
}
