@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent_clr: #158dd8;
  --accent_lte: #79cbff;
  --accent_lte2: #dff3ff;
  --accent_trp: color-mix(in srgb, var(--accent_clr), #0000 80%);
  --accent_trp2: color-mix(in srgb, var(--accent_clr), #0000 90%);
  --green: #00d246;
  --yellow: #e4be00;

  --numeric: "IBM Plex Mono", monospace;
  --padding: 60px;
  --elasetic: linear(
    0,
    0.008 1.1%,
    0.034 2.3%,
    0.134 4.9%,
    0.264 7.3%,
    0.683 14.3%,
    0.797 16.5%,
    0.89 18.6%,
    0.967 20.7%,
    1.027 22.8%,
    1.073 25%,
    1.104 27.3%,
    1.123 30.6%,
    1.119 34.3%,
    1.018 49.5%,
    0.988 58.6%,
    0.985 65.2%,
    1 84.5%,
    1
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all ease;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

::before,
::after {
  transition: 0.4s all ease;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: var(--accent_clr);
  opacity: 1;
}

button {
  display: flex;
  background: var(--accent_clr);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: var(--accent_lte);
  }
}

button a:hover {
  color: #fff;
}

button:not(:has(a)) {
  padding: 8px 25px;
}

input {
  outline: none;
  border: 1px solid #fff4;
  padding-left: 8px;
  border-radius: 10px;
  background: #fff9;
}

img {
  user-select: none;
}

button:has(a) {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
}

button a {
  width: 100%;
  padding: 10px 35px;
}

/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */
/* ! ||||||||||||||||||||||||||||||||||||||| */

.galleryGrid {
  width: 100%;
  height: 500px;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 var(--padding);
  margin-top: 100px;
}

.galleryCard {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px #0002;
}

.galleryCard:hover img {
  scale: 1.1;
}

.galleryCard:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}

.galleryGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tourDetailsInfo {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 40px var(--padding);
}

.tourDetailsText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailsTitle {
  display: flex;
  justify-content: space-between;
}

.detailsTitle > h1 span {
  font-size: 1rem;
  color: #0009;
}

.detailsTitle > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsTitle > ul ul {
  display: flex;
  gap: 1rem;
}

.detailsTitle > ul p {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #0009;
  font-weight: 700;
  font-size: 1rem;
}

.detailsTitle > ul ul p:last-child {
  font-family: var(--numeric);
  font-weight: 900;
}

.detailsTitle > ul svg,
.detailsTitle > ul img {
  width: 20px;
  height: 20px;
}

.textarea h2 {
  font-weight: 400;
}

.textarea p {
  font-size: 1rem;
  line-height: 1.5;
  text-wrap-style: balance;
  text-align: justify;
  opacity: 0.9;
  margin-top: 10px;
}

.productFeatures {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  display: flex;
  gap: 5px;
}

.featureCard {
  flex: 1;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #0005;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 8px;
}

.featureCard img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.featureCard:hover {
  background: var(--accent_trp2);
}
.featureCard:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.featureCard:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.featureCard p {
  font-size: 0.9rem;
}

.sellerInfo {
  width: 400px;
  height: fit-content;
  position: sticky;
  z-index: 1;
  right: 0;
  top: 90px;
  border-radius: 20px;
  box-shadow: 0 0 15px #0001;
  border: 1px solid #0005;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sellerProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sellerProfile span {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.sellerProfile span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sellerProfile h1 {
  font-size: 1.2rem;
}
.sellerProfile p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.sellerInfo hr {
  opacity: 0.7;
}

.sellerInfo h2 {
  font-size: 1.1rem;
}

.sellerInfo h2:not(b) {
  font-weight: 400;
}

.sellerInfo button {
  min-width: 100%;
  padding: 4px 0;
}
